@import '../../assets/styles/main.scss';

header{
  display: grid;
  align-items: center;
  overflow: hidden;

  .hero-text{

    font-size: var(--fs-600);

    .title-font{
      position: relative;
      z-index: 1;

      font-size: var(--fs-900);

      &::after{
        content: "";
        position: absolute;
        z-index: -1;
    
        top: 50%;
        left: -2.5%;
        height: 35%;
        width: 105%;

        background-color: $primary-accent;

        opacity: 0.5;
      }

    }

    #typed {
      background: linear-gradient(180deg, $secundary-accent, $secundary-accent-800);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .typed-cursor{
      color: $secundary-text-color;
    }

    .primary-button{
      display: inline-block;
    }

    .socials svg {
      fill: $primary-text-color; opacity: 0.7;
      transition: all 0.2s;
      &:hover{ fill: $primary-accent; }
    }

  }

  .hero-avatar, .hero-avatar .image{
    height: inherit;
  }

  .hero-avatar{

    position: relative;

    .image{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      flex-wrap: nowrap;

      z-index: 1;

      width: 100%;
      height: 100%;

      transition: all ease-in-out 0.1s;
      
    }

    .dots-grid{
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(13, 1fr);
      align-items: center;
      justify-items: center;

      z-index: 0;

      width: 100%;
      height: 100%;
      
      opacity: 0.6;

    }

  }

  .scroll{

    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    left: 0;
    bottom: 15vh;

    color: $secundary-text-color;

    transform: rotateZ(-90deg);

    p{
      z-index: 2;
      font-family: $accent-font;
      font-size: var(--fs-200);
      font-weight: 500;
    }

    svg{
      z-index: 1;

      opacity: 0.2;
      fill:$primary-accent;
      aspect-ratio: 1;
      transform: scale(-1, 1);
    }

    &::before{
      content: "";
      position: absolute;

      height: 1px;

      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba($secundary-text-color, 1) 0%, rgba($secundary-text-color, 0) 100%);
    }

  }


  @media (min-width: $small-width){
    padding: 20svh $small-secundary-padding 60svh;

    position: relative;

    .hero-text{
      display: grid;
      grid-template-rows: 9svh 1fr 1fr;

      height: 20svh;
      z-index: 1;

      h2{ font-weight: 300; line-height: 0.9em; }
      #typed{ font-weight: 700;}

      .primary-button{
        margin: 6vh 0;
        padding: 1.5vh 10vw;

        border-width: 0.2em;
      }

    }

    .hero-avatar{
      position: absolute;
      width: 175%;
      height: 95%;
      opacity: 0.4;
      z-index: 0;

      .dots-grid{ display: none; }

    }

    .socials{
      a{
        margin-right: 5vw;
        svg {
          width: 9vw;
        }
      }
    }

    .scroll{
      left: -20vw;

      svg{
        height: 13vh;
        margin: 0 0 0 -16vh;
      }

      &::before{
        width: 20vh;
        margin: 1vw 0 0 14vh;
      }

    }
    
  }
  
  @media (min-width: $medium-width){
    padding: 10vh $medium-secundary-padding;

    height: 30vh;
    grid-template-columns: 55% 45%;

    .hero-text{
      display: unset;

      h2{ font-weight: 300; line-height: 0.9em; }
      #typed{ font-weight: 700;}

      .primary-button{
        margin: 5vh 0;
        padding: 1.2vh 5vw;
        border-width: 0.2em;
      }

    }

    .hero-avatar{
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 1;
  
      .image{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .dots-grid {
        display: grid;
        width: 100%;
        height: 100%;
      }
    }

    .socials{
      display: inherit;
      a{
        margin-right: 3vw;
        svg {
          width: 4.5vw;
        }
      }
    }

    .scroll{
      display: none;
    }

  }
  
  @media (min-width: $large-width){
    padding: 15vh $large-secundary-padding;

    height: 70vh;
    grid-template-columns: 55% 45%;

    .hero-text{
      display: unset;

      h2{ font-weight: 300; line-height: 0.5em; }
      #typed{ font-weight: 700;}

      .primary-button{
        margin: 6vh 0;
        padding: 1.5vh 3vw;

        border-width: 0.2em;
      }

    }

    .hero-avatar{
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 1;
  
      .image{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .dots-grid {
        display: grid;
        width: 100%;
        height: 100%;
      }
    }

    .socials{
      display: inherit;
      a{
        margin-right: 1vw;
        svg {
          width: 2.5vw;
          height: 4.5vh;
        }
      }
    }

    .scroll{
      display: grid;
      left: 0;

      svg{
        height: 13vh;
        margin: 0 0 0 -16vh;
      }

      &::before{
        width: 60vh;
        margin: 0.2vw 0 0 13vh;
      }

    }

  }
}
