@import '../../../assets/styles/main.scss';

.time-item{

  display: grid;
  text-align: left;

  *{ opacity: 0.2; }
  transition: opacity 1.5s;

  &::before{
    content: '';
    position: absolute;
    background-color: $primary-accent;
    border-radius: 100%;
  }

  .time-title {
    h2{
      font-family: $accent-font;
      color: $primary-accent;
    }
    h1{
      font-family: $title-font;
      color: $accent-text-color;
      
      span{
        font-family: $accent-font;
        color: $secundary-text-color;
        .link{
          text-decoration: underline;
        }
      }

    }
  }

  .content-container{
    display: grid;
    .image-cover{
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $inner-radius;
      aspect-ratio: 1;
      @include shadow(0,0,20px,0px,rgba($shadow-color, 1));
    }
  }

  .content{
    .reference{
      display: grid;
      font-family: $accent-font;
      h1{ color: $secundary-accent; }
      a{
        display: grid;
        color: $secundary-text-color;
        &:hover{ color: $primary-accent; }
      }
    }
  }


  .gallery{
    display: none;
    background-color: $secundary-background;
    div{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .gallery.show{
    position: fixed;
    display: grid;
  
    top: 0;
    left: 0;
    z-index: 101;
  
    width: 100%;
    height: 100svh;
    width: fill-available;
    height: fill-available;
  }


  @media (min-width: $small-width){
    
  }
  
  @media (min-width: $medium-width){

  }
  
  @media (min-width: $large-width){
    grid-gap: 4svh;

    &::before{
      margin-top: 2vh;
      margin-left: - calc($large-secundary-padding / 2.35 );
      width: 3vh;
      height: 3vh;
      border: 4px solid $accent-text-color;
    }

    .time-title{
      h1{
        font-size: 2.5em;
        span{font-size: 0.7em;}
      }
    }

    .content-container{
      grid-template-columns: 40% auto;
      grid-gap: 4vw;
    }

    .content{
      .reference{
        grid-gap: 2vh;
        a{ grid-template-columns: auto 1fr; grid-gap: 0.5vw; align-items: center; }
        svg{ width: 0.8vw; }
      }
    }

    .gallery{
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: 0.5vw;
      padding: 0.5vw;
    }

  }

}

.time-item.show *{
  transition: opacity 1.5s;
  opacity: 1;
}

