@import '../../../assets/styles/main.scss';

.time-item{

  display: grid;
  text-align: left;

  *{ opacity: 0.2; }
  transition: opacity 1.5s;

  &::before{
    content: '';
    position: absolute;
    background-color: $primary-accent;
    border-radius: 100%;
  }

  .time-title {
    h2{
      font-family: $accent-font;
      color: $primary-accent;
    }
    h1{
      font-family: $title-font;
      color: $accent-text-color;
      
      span{
        font-family: $accent-font;
        color: $secundary-text-color;
        .link{
          text-decoration: underline;
        }
      }

    }
  }

  .content-container{
    display: grid;
    .image-cover{
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 1;
      @include shadow(0,0,20px,0px,rgba($shadow-color, 1));
    }
  }

  .content{
    .reference{
      display: grid;
      font-family: $accent-font;
      h1{ color: $secundary-accent; }
      a{
        display: grid;
        color: $secundary-text-color;
        &:hover{ color: $primary-accent; svg{ fill: $primary-accent;} }
      }
    }
  }


  .gallery{
    position: fixed;
    display: grid;
    background-color: $secundary-background;

    top: 0;
    left: 0;
  
    width: 100vw;
    height: 100svh;
    width: fill-available;
    height: fill-available;

    div{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .gallery.hide{ opacity: 0; z-index: -1; transition: opacity 0.5s, z-index 1s; }
  .gallery.show{ opacity: 1; z-index: 101; transition: opacity 0.5s; }


  @media (min-width: $small-width){
    margin-left: 5vw;
    grid-gap: 5svh;

    &::before{
      margin-top: 0;
      margin-left: - calc($small-secundary-padding / 0.75 );
      width: 2svh;
      height: 2svh;
      border: 4px solid $accent-text-color;
    }

    .time-title{
      h1{
        font-size: 1.8em;
        span{font-size: 0.8em;}
      }
      h2{ font-size: 1.2em;}
    }

    .image-cover{ border-radius: 4vw;}

    .content{
      margin: 5svh 0;
      .reference{
        margin: 5svh 0;
        grid-gap: 2vh;
        h1{ font-size: 1.2em; }
        a{ grid-template-columns: auto 1fr; grid-gap: 0.5vw; align-items: center; }
        svg{ width: 4vw; }
      }
    }

    .gallery{
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: 0.5vw;
      padding: 0.5vw;
    }

  }
  
  @media (min-width: $medium-width){

  }
  
  @media (min-width: $large-width){
    margin: 0;
    grid-gap: 4svh;

    &::before{
      margin-top: 2svh;
      margin-left: - calc($large-secundary-padding / 2.35 );
      width: 3svh;
      height: 3svh;
      border: 4px solid $accent-text-color;
    }

    .time-title{
      h1{
        font-size: 2.5em;
        span{font-size: 0.7em;}
      }
      h2{ font-size: unset;}
    }

    .content-container{
      grid-template-columns: 40% auto;
      grid-gap: 4vw;
    }

    .image-cover{ border-radius: $inner-radius; }

    .content{
      margin: 0;
      .reference{
        margin: 0;
        grid-gap: 2vh;
        h1{ font-size: unset; }
        a{ grid-template-columns: auto 1fr; grid-gap: 0.5vw; align-items: center; }
        svg{ width: 0.8vw; }
      }
    }

    .gallery{
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: 0.5vw;
      padding: 0.5vw;
    }

  }

}

.time-item.show *{
  transition: opacity 1.5s;
  opacity: 1;
}

