@import '../../assets/styles/main.scss';

#skills {

  .title{
    text-align: center;
    text-transform: capitalize;
  }

  @media (min-width: $small-width){
    padding: 45svh $small-secundary-padding;

    .title{
      .accent svg{ width: 160%;}
    }

    .content{
      display: grid;
      padding: 10svh 0;
      grid-gap: 5svh;
    }
    
  }
  
  @media (min-width: $medium-width){
    padding: 20svh $medium-secundary-padding;

    .title{
      .accent svg{ width: 150%;}
    }

    .content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3vw;

      padding: 5svh 0 ;
    }
    
  }
  
  @media (min-width: $large-width){
    padding: 68svh $large-secundary-padding;

    .title{
      .accent svg{ width: 150%;}
    }

    .content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6vw;

      padding: 10svh 2vw;
    }

  }

}


