@import '../../assets/styles/main.scss';

#contact {
  position: relative;

  .background p{
    position: absolute;
    margin: 0;
    background-color: transparent;
    opacity: 0.2;
    transform: translate(0%, -50%);

    transition: all 1s;
  }
  .background p:nth-child(1){ background-color: $primary-text-color; }
  .background.email p:nth-child(2){ background-color: $mail; }
  .background.instagram p:nth-child(3){ background-color: $instagram; }
  .background.linkedin p:nth-child(4){ background-color: $linkedin; }
  .background.discord p:nth-child(5){ background-color: $discord; }

  .content{ position: relative; backdrop-filter: blur(80px);}


  .title{
    display: grid;
    grid-template-columns: auto auto auto;

    .lines:nth-child(1){ text-align: right; }
    .lines:last-child{ text-align: left; }

    .accent svg {
      width: 110%;
      top: 95%;
    }

    svg { transition: all 1s; }
    &.email{ .lines svg, .accent svg{ fill: $mail; } }
    &.instagram{ .lines svg, .accent svg{ fill: $instagram; } }
    &.linkedin{ .lines svg, .accent svg{ fill: $linkedin; } }
    &.discord{ .lines svg, .accent svg{ fill: $discord; } }
  }

  .links{ position: relative; display: grid; font-family: $accent-font; color: $secundary-text-color; }

  .links *{
    transition: all ease-out 0.2s;
    &:hover{
      transition: all ease-out 0.2s;
      svg{ fill: $primary-accent; }
      color: $primary-accent;
    }

    &:nth-child(1):hover { svg { fill: $mail; } color: $mail; }
  
    &:nth-child(2):hover { svg { fill: $instagram; } color: $instagram; }
  
    &:nth-child(3):hover { svg { fill: $linkedin; } color: $linkedin; }
  
    &:nth-child(4):hover { svg { fill: $discord; } color: $discord; }
  }

  
  @media (min-width: $small-width){
    .content{ padding: 50svh $small-secundary-padding; }

    .background p{
      width: 100vw;
      height: 100vw;


      &:nth-child(1){
        opacity: 0.05;
        top: 35%;
        left: -25%;
        border-radius: 101% 68% 50% 23%;
        transform: rotate(100deg);
      }

    }

    .title{
      display: unset;
      text-align: center;
      font-size: 1em;
      .lines svg { width: 0; fill: $primary-accent; }
    }

    .links{
      margin: 5svh 0 0;
      font-size: 1.3em;

      a {
        display: flex;
        align-items: center;
        gap: 7vw;
        margin: 2svh 0;
        svg{ width: 10vw; }
      }

    }
    

  }
  
  @media (min-width: $medium-width){
    //padding: 0 $medium-secundary-padding;


  }
  
  @media (min-width: $large-width){
    .content{ padding: 50svh $large-secundary-padding; }

    .background p{
      width: 40vw;
      height: 35vw;


      &:nth-child(1){
        opacity: 0.05;
        top: 25%;
        left: 30%;
        border-radius: 162% 60% 141% 57%;
        transform: rotate(26deg);
      }
      
      &:nth-child(2){
        top: 55%;
        left: -5%;
        border-radius: 162% 60% 41% 57%;
        transform: rotate(26deg);
      }

      &:nth-child(3){
        top: 50%;
        left: 25%;
        border-radius: 160% 12% 141% 57%;
        transform: rotate(-80deg);
      }

      &:nth-child(4){
        top: 10%;
        right: 10%;
        border-radius: 96% 62% 151% 147%;
        transform: rotate(20deg);
      }

      &:nth-child(5){
        top: 15%;
        right: -5%;
        transform: rotate(16deg);
        border-radius: 102% 50% 141% 67%;
      }

    }

    .title{
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: end;
      justify-content: space-between;
      text-align: center;
      font-size: 2em;
      .lines svg { width: 15%; fill: $primary-accent; }
    }

    .links {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      margin: 15svh 0 0;
      font-size: 1.3em;

      a {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 1vw;
        svg{ width: 3vw; }
      }

    }

  }

}