@import '../../assets/styles/main.scss';

#contact {
  position: relative;

  .background p{
    position: absolute;
    margin: 0;
    background-color: transparent;
    opacity: 0.2;
    transform: translate(0%, -50%);

    transition: all 1s;
  }
  .background p:nth-child(1){ background-color: $primary-text-color; }
  .background.email p:nth-child(2){ background-color: $mail; }
  .background.instagram p:nth-child(3){ background-color: $instagram; }
  .background.linkedin p:nth-child(4){ background-color: $linkedin; }
  .background.discord p:nth-child(5){ background-color: $discord; }

  .content{ position: relative; backdrop-filter: blur(80px);}

  .title svg {
    width: 110%;
    top: 95%;
  }
  .accent{
    svg{ transition: all 1s; }
    &.email svg{ fill: $mail; }
    &.instagram svg{ fill: $instagram; }
    &.linkedin svg{ fill: $linkedin; }
    &.discord svg{ fill: $discord; }
  }

  .links{ position: relative; display: grid; font-family: $accent-font; color: $secundary-text-color; }

  .links *{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    transition: all ease-out 0.2s;
    &:hover{
      transition: all ease-out 0.2s;
      svg{ fill: $primary-accent; }
      color: $primary-accent;
    }

    &:nth-child(1):hover { svg { fill: $mail; } color: $mail; }
  
    &:nth-child(2):hover { svg { fill: $instagram; } color: $instagram; }
  
    &:nth-child(3):hover { svg { fill: $linkedin; } color: $linkedin; }
  
    &:nth-child(4):hover { svg { fill: $discord; } color: $discord; }
  }

  @media (min-width: $small-width){
    //padding: 0 $small-secundary-padding;
    

  }
  
  @media (min-width: $medium-width){
    //padding: 0 $medium-secundary-padding;


  }
  
  @media (min-width: $large-width){
    .content{ padding: 50svh $large-secundary-padding; }

    .background p{
      width: 40vw;
      height: 35vw;


      &:nth-child(1){
        opacity: 0.05;
        top: 25%;
        left: 30%;
        border-radius: 162% 60% 141% 57%;
        transform: rotate(26deg);
      }
      
      &:nth-child(2){
        top: 55%;
        left: -5%;
        border-radius: 162% 60% 41% 57%;
        transform: rotate(26deg);
      }

      &:nth-child(3){
        top: 50%;
        left: 25%;
        border-radius: 160% 12% 141% 57%;
        transform: rotate(-80deg);
      }

      &:nth-child(4){
        top: 10%;
        right: 10%;
        border-radius: 96% 62% 151% 147%;
        transform: rotate(20deg);
      }

      &:nth-child(5){
        top: 15%;
        right: -5%;
        transform: rotate(16deg);
        border-radius: 102% 50% 141% 67%;
      }

    }

    .title{ text-align: center; font-size: 2em;}

    .links{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      margin: 15svh 0 0;
      font-size: 1.3em;

      a {
        grid-gap: 1vw;
        svg{ width: 3vw; }
      }

    }

  }

}