@import '../../assets/styles/main.scss';

nav {

  display: flex;
  position: fixed;
  overflow: hidden;
  
  width: -webkit-fill-available;
  width: -moz-available;

  z-index: 100;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &::after {
    content: "";
    position: absolute;
    z-index: 6;

    bottom: 0;
    left: 5vw;
    height: 1px;
    width: 90vw;

    background: linear-gradient(90deg, rgba($accent-text-color, 0) 0%, rgba($accent-text-color, 1) 50%, rgba($accent-text-color, 0) 100%);

  }

  .content{
    display: grid;
    align-items: center;
    width: 100%;
    z-index: 2;

    .logo {
      text-align: left;

      a h1{
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
      
          top: 50%;
          left: -2.5%;
          height: 35%;
          width: 0;

          background-color: $primary-accent;
          opacity: 0.5;
          transition: all ease-in 0.3s;
        }

        

        &:hover::after{
          width: 105%;
          transition: all ease-out 0.4s;
        }
      }

    } 

    .links{
      font-family: $base-font;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
    
    }


  }

  .animated::after{
    animation: pulse 1s forwards, grow 1.2s forwards;
  }

  @media (min-width: $small-width){
    padding: 0 $small-primary-padding;
    

  }
  
  @media (min-width: $medium-width){
    padding: 0 $medium-primary-padding;


  }
  
  @media (min-width: $large-width){
    padding: 2svh $large-primary-padding;

    .content{
      grid-template-columns: 1fr 1fr;

      font-size: 1.4em;

      .logo a h1{ text-align: left; }
      &:last-child{ text-align: right;}

      .links *{
        font-weight: 200;
        font-size: 0.9em;
        margin: 0 0 0 1.5vw;
      }

    }

  }

}