@import '../../../assets/styles/main.scss';

.skill-card{
  position: relative;
  overflow: hidden;

  background-color: $secundary-background;

  @include shadow(0,0,20px,-10px, rgba($shadow-color, 0.8));


  &::before{
    content: '';
    position: absolute;
    z-index: 1;

    top: var(--y);
    left: var(--x);
    transform: translate(-43%, -36%);

    width: 70svh;
    height: 70svh;

    background: radial-gradient($secundary-text-color, transparent, transparent);
    opacity: 0.5;
    transition: opacity 0.5s;
  }
  &::after{
    content: '';
    position: absolute;
    z-index: 2;
    inset: 2px;
    background: rgba($secundary-background, 0.9);
    
  }

  .card-content{position: relative; z-index: 3;}

  .card-title{
    text-align: center;
    font-family: $accent-font;
    font-weight: 700;
  }

  .progress-item{

    h2{
      text-align: left;
      font-family: $base-font;
      font-weight: 200;
    }

    .pr-container{

      position: relative;
      background-color: $primary-background;

      .pr{
        height: 100%;
        background: linear-gradient(90deg, rgba($primary-accent, 1) 30%,  rgba(mix($primary-accent, #FFF, 70%), 1) 100%);
        transition: all 1.5s ease-out;
      }

    }

  }

  transition: all ease-in-out 0.2s;
  &:hover{
    transition: all ease-in-out 0.3s;

    &::before{ opacity: 1;}

  }


  @media (min-width: $small-width){
    height: 40svh;
    padding: 5svh 3vw;
    border-radius: 8vw;
    
    &::after{ border-radius: 8vw; }

    .card-content{ height: 100%; }

    .card-title{
      font-size: 1.6em;
    }

    .progress-container{
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;

      padding: 0 8vw;

      h2{
        font-size: 1.2em;
        margin: 0 0 0.8svh 0.8vw;
      }

      .pr-container{

        width: 100%;
        height: 0.8svh;

        margin: 0 0 2.5svh;
  
      }

    }

  }
  
  @media (min-width: $medium-width){
    height: unset;
    padding: 3svh 3vw 2svh;
    border-radius: 1.5vw;

    &::after{ border-radius: 1.5vw; }

    .card-content{ height: unset; }

    .card-title{
      font-size: 1.5em;
    }

    .progress-container{
      padding: 6svh 0 0;

      h2{
        font-size: 1.3em;
        margin: 0 0 0.8svh 0.8vw;
      }

      .pr-container{

        width: 100%;
        height: 0.7svh;

        margin: 0 0 2.5svh;
  
      }

    }

  }
  
  @media (min-width: $large-width){
    height: unset;
    padding: 10svh 3vw;
    border-radius: 1.5vw;

    &::after{ border-radius: 1.5vw; }

    .card-content{ height: unset; }

    .card-title{
      font-size: 1.6em;
    }

    .progress-container{
      padding: 6svh 0 0;

      h2{
        font-size: 1.2em;
        margin: 0 0 0.8svh 0.8vw;
      }

      .pr-container{

        width: 100%;
        height: 0.8svh;

        margin: 0 0 2.5svh;
  
      }

    }

  }

}