@import '../../assets/styles/main.scss';

#xp {
  display: grid;
  position: relative;
  overflow: hidden;

  .title{
    text-align: center;
    text-transform: capitalize;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $secundary-text-color;
    background: linear-gradient(180deg, rgba($secundary-text-color,0) 0%, rgba($secundary-text-color,1) 15%, rgba($secundary-text-color,1) 85%, rgba($secundary-text-color,0) 100%);
  }

  @media (min-width: $small-width){
    padding: 100svh $small-secundary-padding;
    grid-gap: 100svh;

    .title{
      font-size: 2em;
      .accent svg{ width: 150%;}
    }

    &::before{
      width: 3px;
      margin-left: calc($large-secundary-padding/2);
    }
  }
  
  @media (min-width: $medium-width){
    padding: 0 $medium-secundary-padding;
    
  }
  
  @media (min-width: $large-width){
    padding: 200svh $large-secundary-padding;
    grid-gap: 100svh;

    .title{
      font-size: 2em;
      .accent svg{ width: 150%;}
    }

    &::before{
      width: 2px;
      margin-left: calc($large-secundary-padding/1.5);
    }

  }

}


