@import './assets/styles/main.scss';

html, body{
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: default;

  font-family: $base-font;

  background-color: $primary-background;
  color: $primary-text-color;

  h1, h2, h3{ margin: 0; }

  a{ color: inherit; text-decoration: none; cursor: pointer; }
  button{ border: none; cursor: pointer;}
  svg{ fill: $secundary-text-color; }

  scrollbar-color: rgba($primary-text-color, 0.2) $primary-background;

}

::selection {
  background-color: rgba($accent-text-color, 0.1);
}
::-webkit-scrollbar {
  display: none;
}

.title-font, .title{ font-family: $title-font; font-weight: 100; color: $accent-text-color;}
.base-font{ font-family: $base-font; }
.accent-font{ font-family: $accent-font; }

.primary-accent{ color: $primary-accent; }
.secundary-accent{ color: $secundary-accent; }

.no-cursor{ cursor: none; }

.link{
  transition: all ease-out 0.2s;
  svg{ transition: all ease-in 0.2s; }
  &:hover{ transition: all ease-in 0.2s; color: $primary-accent; svg{ transition: all ease-in 0.2s; } }
}

.primary-button{

  font-family: $accent-font;
  font-weight: 900;

  background-color: transparent;
  color: $primary-accent;
  border-style: solid;
  border-color: $primary-accent;
  border-radius: 0.8em;

  transition: ease-out 0.25s;

  &:hover, &:focus{
    color: $primary-text-color;
    transform: translateY(-7px);
    box-shadow:
      0 0.5em 1em rgba($primary-accent, 0.2),
      inset 0 -100px 0 0 $primary-accent;
    transition: ease-out 0.25s;

  }
  &:active{ transform: translateY(-1px); }
}

.accent{
  position: relative;

  span{
    position: relative;
    z-index: 2;
  }

  svg{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    aspect-ratio: 1;
    
    z-index: 0;

    fill: $primary-accent;
    opacity: 0.5;

  }
  
}