
// --- VALUES --- \\
// corners
$outer-radius: 2vw;
$inner-radius: 0.8vw;

// large screens
$large-width: 1200px;
$large-primary-padding: 5vw;
$large-secundary-padding: 10vw;
// medium screens
$medium-width: 762px;
$medium-primary-padding: 4vw;
$medium-secundary-padding: 6vw;
// small screens
$small-width: 0px;
$small-primary-padding: 5vw;
$small-secundary-padding: 8vw;


// --- COLORS --- \\
$primary-accent: #E69517;
$primary-background: #181818;
$secundary-background: #1f1f1f;
$tertiary-background: #101010;
$primary-text-color: #dbdbdb;
$secundary-text-color: #6d6d6d;
$accent-text-color: #FFFFFF;
$secundary-accent: #9c6eff;
$shadow-color: #181818;
// social-media
$mail: $secundary-accent;
$instagram: #e1306c;
$linkedin: #0077b5;
$discord: #7289d7;