@import '../../assets/styles/main.scss';

#work {

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title .accent svg{
    top: 100%;
    width: 120%;
  }

  .img-grid{
    display: grid;
    
    .img-container{
      background-image: url("../../assets/img/not_found.png");
      background-color: rgba($secundary-text-color, 0.15);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include shadow(0,0,10px,0, #00000085);
    }
  }

  @media (min-width: $small-width){
    padding: 0 $small-secundary-padding;
    
  }
  
  @media (min-width: $medium-width){
    padding: 0 $medium-secundary-padding;
    
  }
  
  @media (min-width: $large-width){
    padding: 68svh $large-secundary-padding;

    .title{ font-size: 2em; }

    .content{ padding: 10svh 0;}

    .primary-button{ margin: 10vh 0; padding: 1.5svh 5vw; font-size: 1.2em;}

    .img-grid{
      grid-template-columns: repeat(4, 18vw);
      grid-auto-rows: 18vw;
      grid-gap: 1vw;

      .img-container{ border-radius: $inner-radius; }

      .img-container:nth-child(1){ grid-area: 1 / 1 / 3 / 3; }
      .img-container:nth-child(2){ grid-area: 1 / 3 / 2 / 5; }
      .img-container:nth-child(3){ grid-area: 2 / 3 / 3 / 4; }
      .img-container:nth-child(4){ grid-area: 2 / 4 / 4 / 5; }
      .img-container:nth-child(5){ grid-area: 3 / 1 / 5 / 3; }
      .img-container:nth-child(6){ grid-area: 3 / 3 / 4 / 4; }
      .img-container:nth-child(7){ grid-area: 4 / 3 / 5 / 5; }
    }
  }

}